:root {
    --clr-primary-400: hsl(227, 85%, 77%);
    --clr-accent-400: hsl(260, 67%, 74%);
    --clr-neutral-400: hsl(0, 0%, 54%);
    --clr-neutral-300: hsl(0, 0%, 54%, 0.75);
    --clr-neutral-250: hsl(0, 0%, 54%, 0.6);
    --clr-neutral-200: hsl(0, 0%, 54%, 0.5);
    --clr-white: hsl(0, 0%, 100%);
    --clr-off-white: hsl(0, 0%, 98%);
    --clr-active: hsl(130, 85%, 45%);
    --clr-active-opaque: hsl(130, 85%, 99%);

    --ff-primary: "Montserrat", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-black: 900;

    --fs-300: 0.75rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-700: 3rem;
    --fs-900: 7rem;

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.25rem;
    --size-600: 1.5rem;
    --size-700: 2rem;
    --size-800: 2.5rem;
    --size-900: 3rem;

    --fs-primary-body: var(--fs-400);
    --fs-secondary-body: var(--fs-300);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-700);
    --fs-primary-nav: var(--fs-400);
    --fs-secondary-nav: var(--fs-300);
    --fs-primary-intro: var(--fs-500);
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* general styling */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-neutral-400);
    font-weight: var(--fw-regular);
}

label {
    float: left;
}

.socials-list svg,
.socials-list img {
    width: 1.7rem;
    height: 1.75rem;
}

.socials-list svg:hover path {
    fill: var(--clr-primary-400);
}

.socials-list svg:hover .facebook-hack {
    fill: var(--clr-white);
}

/* download resume button */

.download-resume {
    right: -17rem;
    top: 5rem;
    position: fixed;
    background-color: var(--clr-primary-400);
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    padding-block: 1rem;
    padding-inline: 0.35rem 5rem;
    transition: all 0.75s ease;
}

.download-resume[data-show-download] {
    right: -3.5rem;
}

.download-resume img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    padding-left: 0.1rem;
}

.download-resume a {
    text-decoration: none;
}
.download-resume a:hover {
    text-decoration: underline;
    text-decoration-color: var(--clr-white);
}

.arrow-container {
    cursor: pointer;
}

.right-arrow {
    display: none;
}

@media (min-width: 70em) {
    .download-resume {
        top: 10rem;
    }
}

/* navigation */

.primary-header {
    position: fixed;
    padding-block: var(--size-400);
    padding-inline: var(--size-500);
    width: 100%;
    margin-inline: auto;
    background-color: var(--clr-white);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav-toggle {
    display: none;
}

.nav-list {
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-primary-nav);
    display: flex;
    gap: var(--size-800);
}

.nav-list a {
    text-decoration: none;
    color: var(--clr-neutral-300);
}

@media (max-width: 70em) {
    .primary-navigation {
        display: none;
        position: fixed;
        padding: var(--size-700);
        inset: 7rem var(--size-400) auto;
        max-width: 25rem;
        margin-inline: auto;
        background: var(--clr-white);
        border-radius: var(--size-200);
        box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
    }

    .primary-navigation[data-visible] {
        display: block;
    }

    .primary-header[data-overlay]::before {
        content: "";
        position: fixed;
        inset: 0;
        background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
    }

    .nav-list {
        display: grid;
        gap: var(--size-400);
        text-align: center;
    }

    .nav-list a {
        color: var(--clr-primary-400);
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        top: var(--size-200);
        right: var(--size-400);
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
    }

    .mobile-nav-toggle .icon-close {
        display: none;
    }

    .icon-size {
        height: 2rem;
        width: 2rem;
    }
}

/* intro page styling */

.hi-text {
    padding-top: var(--size-700);
}

.name {
    line-height: 6rem;
    margin-top: var(--size-500);
}

.purpose {
    margin-top: 5rem;
}

div.intro-content .socials-list {
    margin-top: var(--size-800);
    display: flex;
    gap: var(--size-400);
    justify-content: center;
}

.intro-picture {
    display: none;
    justify-content: right;
    align-content: center;
}

.intro-content {
    text-align: center;
}

.container.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
}

@media (min-width: 70em) {
    .container.intro .even-columns {
        padding-bottom: 10rem;
    }

    .intro-content {
        text-align: left;
    }

    .purpose {
        --max-width: 32rem;
        width: min(var(--max-width), 80%);
    }

    .intro-picture {
        display: grid;
    }

    div.intro-content .socials-list {
        justify-content: left;
    }
}

/* bio page styling */

.even-columns.bio-content {
    padding-block: 3rem 4rem;
}

.bio-text {
    line-height: 250%;
    padding-inline: 1rem;
    text-align: center;
}

.bio-picture {
    display: none;
}

@media (min-width: 70em) {
    .even-columns.bio-content {
        padding-block: 8rem;
    }

    .bio-picture {
        padding-left: 1.5rem;
        display: block;
    }

    .bio-text {
        padding-top: 0.5rem;
        text-align: left;
    }
}

/* experience page styling */

.experience-text {
    text-align: center;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.view span {
    color: var(--clr-primary-400);
}

.view {
    margin-top: 3rem;
    text-decoration: none;
    display: flex;
    color: var(--clr-primary-400);
    width: fit-content;
    padding: 1rem;
}

.view img {
    margin-left: 0.5rem;
}

.skills-list {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.skills-list span {
    background-color: var(--clr-primary-400);
    color: var(--clr-white);
    border-radius: 100vmax;
    padding: 0.3rem 0.5rem;
}

.skills-list[data-type="accent"] span {
    background-color: var(--clr-accent-400);
}

@media (min-width: 70em) {
    .experience-text {
        padding-top: 1.5rem;
        text-align: left;
    }
    .resume {
        align-items: baseline;
    }
    .mobile-date {
        display: none;
    }
    .salesforce-fulltime {
        list-style: "Aug 2021 - Jan 2023";
    }
    .salesforce-intern {
        list-style: "May 2020 - Aug 2020";
    }
    .teaching-assistant {
        list-style: "Jan 2019 - May 2021";
    }
    .sabre-intern {
        list-style: "May 2019 - Aug 2019";
    }
    .skills-list {
        justify-content: left;
    }
    .resume .list-items {
        padding-left: 1rem;
    }
    .resume .list-items li {
        padding-left: 1rem;
    }
    .view {
        margin-top: 5rem;
    }
    .view span {
        margin-left: 1rem;
    }
}

/* projects page styling */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 3rem 5rem;
}

.projects-text {
    text-align: center;
}

.project-item-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-item-container img {
    display: none;
}

.project-item-info a {
    text-decoration: none;
    color: var(--clr-accent-400);
}

@media (min-width: 70em) {
    .project-item-container {
        flex-direction: row;
        gap: 1.5rem;
        margin-left: 2rem;
    }

    .project-item-container img {
        display: block;
        object-fit: contain;
    }

    .projects-text {
        text-align: left;
        padding-top: 1.5rem;
    }
}

/* get in touch page styling */

.container.contact {
    padding-inline: 1rem;
    padding-block: 4rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact p {
    text-align: center;
    line-height: 275%;
    max-width: 30rem;
    padding-block: 3rem;
}

.contact a {
    text-decoration: none;
    margin-block: 2rem 3rem;
    border-radius: 100vmax;
    padding: 1.35rem;
    background-color: var(--clr-primary-400);
    color: var(--clr-white);
    outline: auto;
    font-weight: var(--fw-medium);
}

/* footer styling */

.footer-contacts {
    display: none;
}

.footer-message {
    max-width: 20rem;
}

.footer-message a:visited,
.footer-message a {
    text-decoration: none;
    color: var(--clr-neutral-200);
}

.footer-message a:hover {
    color: var(--clr-primary-400);
}

.footer-container {
    padding-inline: 1rem;
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 70em) {
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0.5rem;
    }

    .footer-contacts {
        margin-top: 0.5rem;
        display: block;
    }

    .footer-contacts a {
        text-decoration: none;
    }

    .footer-message {
        margin-right: 3.4rem;
    }

    .footer-socials {
        display: flex;
        align-items: end;
    }
}

/* Utility classes */

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-accent-400 {
    color: var(--clr-accent-400);
}

.text-neutral-400 {
    color: var(--clr-neutral-400);
}

.text-neutral-300 {
    color: var(--clr-neutral-300);
}

.text-neutral-250 {
    color: var(--clr-neutral-250);
}

.text-neutral-200 {
    color: var(--clr-neutral-200);
}

.text-white-400 {
    color: var(--clr-white);
}

.text-status-seeking {
    display: none;
}

@keyframes pulse {
    0%,
    100% {
        color: var(--clr-active);
    }
    50% {
        color: var(--clr-active-opaque);
    }
}

@media (min-width: 70em) {
    .text-status-seeking {
        display: block;
        color: var(--clr-active);
        animation: pulse 4s infinite;
        animation-delay: 2s;
    }
}

.bg-white {
    background-color: var(--clr-white);
}
.bg-off-white {
    background-color: var(--clr-off-white);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-black {
    font-weight: var(--fw-black);
}

.fs-primary-body {
    font-size: var(--fs-primary-body);
}

.fs-secondary-body {
    font-size: var(--fs-secondary-body);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}

.fs-primary-nav {
    font-size: var(--fs-primary-nav);
}

.fs-secondary-nav {
    font-size: var(--fs-secondary-nav);
}

.fs-primary-intro {
    font-size: var(--fs-primary-intro);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-900 {
    font-size: var(--fs-900);
}

.text-centered {
    text-align: center;
    padding-inline: 1rem;
}

.flex-200 {
    display: flex;
    gap: var(--size-200);
}

.container {
    padding-inline: 0.5rem;
    padding-block: 2.5rem;
}

@media (width > 32em) {
    .container {
        --max-width: 90rem;
        --padding: 4rem;

        width: min(var(--max-width), 100% - (var(--padding) * 2));
        margin-inline: auto;
        padding-block: var(--padding);
    }
}

.even-columns {
    display: grid;
}

@media (min-width: 70em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.picture {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.list-items li {
    text-align: center;
}

.list-items li:not(:first-child) {
    margin-top: 3rem;
}

@media (min-width: 70em) {
    .list-items li {
        text-align: unset;
    }

    .list-items li > h3 {
        margin-bottom: 0.75rem;
    }

    .list-items li:not(:first-child) {
        margin-top: 4.5rem;
    }
}
